<div class="d-flex flex-column justify-content-around align-items-center a">
    <a href=""><img src="../../../../assets/logos/logo_bat_flèche.png" alt=""></a>
    <a href=""><img src="../../../../assets/logos/icon_facebook.png" alt="Facebook"></a>
    <a href=""><img src="../../../../assets/logos/icon_ig.png" alt="Instagram"></a>
    <a href=""><img src="../../../../assets/logos/icon_tw.png" alt="Tweeter"></a>
    <a href=""><img src="../../../../assets/logos/logo_bat_flèche_2.png" alt=""></a>
</div>