<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="../../../assets/articles/article_1.png" class="card-img-top rounded-0" alt="...">
                <div class="card-body text-white d-flex flex-column justify-content-between align-items-center">
                    <div class="text bg-black rounded-0 border border-white py-4 w-100">
                        <h5 class="card-title text-uppercase fw-normal text-center">Card title</h5>
                        <p class="card-text text-center" id="price">Some quick example text to build on the card title.</p>
                    </div>
                    <a href="#" class="btn_bat my-4 py-2 text-center px-4">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>