<!-- <div class="container-fluid"> -->
    <div class="row">
        <div class="col-md-4 m-0" *ngFor="let prod of products">
            <div class="card m-0">
                <img src="{{prod.imgUrl}} " class="card-img-top img-fluid" alt="...">
                <div class="card-body text-white d-flex flex-column justify-content-between align-items-center bg-none">
                    <div class="text bg-black rounded-0 border border-white py-4 w-100">
                        <h5 class="card-title text-uppercase fw-normal text-center">{{prod.title}}</h5>
                        <p class="card-text text-center" id="price">Some quick example text to build on the card <span> {{prod.price}} </span> title.</p>
                    </div>
                    <a href="#" class="btn_bat my-4 py-2 text-center px-4">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->