<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="">
        <p class="text-center">
            <img src="../../../../assets/logos/icon_WB.png" alt="warner Bro">
            Ce projet respecte l’univers cinématographique des films Batman récents. Version Nolan & Snyder & Reeves
        </p>
        <div class="row mt-4">
            <div class="col-4 d-flex justify-content-evenly align-items-center mx-auto">
                <img src="../../../../assets/logos/icon_SaynaXMarvel.png" alt="Logo sayna & batman">
                <img src="../../../../assets/logos/icon_facebook.png" alt="Facebook">
                <img src="../../../../assets/logos/icon_ig.png" alt="Instagram">
                <img src="../../../../assets/logos/icon_tw.png" alt="Tweeter">
            </div>
        </div>
    </div>
</div>