<main>
    <div class="container-fluid">
        <div class="banner mx-auto d-flex align-items-center justify-content-start">
            <h2 class="ms-5 text-uppercase fw-bold">récuperer le flow de <br>batman avec votre e-shop !</h2>
        </div>
        <div class="fleche mb-5 border d-flex align-items-center justify-content-center">
            <img src="../../../assets/logos/flèche_down_header.png" class="" alt="">
        </div>
        <div class="row my-4">
            <div class="col-12 d-flex justify-content-end pe-4" >
                <img src="../../../assets/icones/icone_1.png" alt="pannier" class="img-fluid">
            </div>
            <div class="col-12 border d-flex justify-content-between align-items-center text-white">
                <p class="text-uppercasse border my-auto">resultats: 123</p>
                <p>
                    Trie par
                    <select name="" id="">
                        <option value=""></option>
                        <option value="">test</option>
                        <option value="">test</option>
                    </select>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-4 border"></div>
            <div class="col-8 border">
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
            </div>
        </div>
    </div>
</main>