<main>
    <div class="container-fluid">

        <!-- BANNER -->
        <div class="banner mx-auto d-flex align-items-center justify-content-start">
            <h2 class="ms-5 text-uppercase fw-bold">récuperer le flow de <br>batman avec votre e-shop !</h2>
        </div>
        <div class="fleche mb-5 d-flex align-items-center justify-content-center">
            <img src="../../../assets/logos/flèche_down_header.png" class="" alt="">
        </div>

        <!-- PANNIER -->
        <div class="row my-4 p-0 me-2">
            <div class="col-12 d-flex justify-content-end p-0" >
                <img src="../../../assets/icones/icone_1.png" alt="pannier" class="img-fluid">
            </div>
        </div>
        
        <!-- PRODUITS -->
        <!-- <app-products></app-products> -->
        <app-card></app-card>
    </div>
</main>