@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url('Assets/font/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Rajdhani', sans-serif;
    src: url('Assets/font/Rajdhani/Rajdhani-Medium.ttf');
}
// @font-face {
//     font-family: 'Space Grotesk', sans-serif;
//     src: url('Assets');
// }